// Button.scss
.button-container {
  padding: 0.3em 0.7em;
  margin: 1em;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

