// DepthVisualizer.scss
.depth-visualizer {
    height: 1.250em;
    position: relative;
    top: 21;
    margin-top: -24;
    z-index: 1;
  
    &.bids {
      background-color: #113534;
    }
  
    &.asks {
      background-color: #3d1e28;
    }
  }
  