.footer-container {
  margin-top: 15px;
  display: flex;
  justify-content: right;
  background-color: #121723;
  
}
.online-status-icon {
  color: green; // Adjust the color of the online status
  font-size: 12px; // Adjust the icon size
  margin-top: 30px;
}